<ion-content>
  <div class="ion-padding">
    <h1 class="center">Welcome Back!</h1>
    <div>
      <ion-list>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input type="text" placeholder="email" [(ngModel)]="provider.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password:</ion-label>
          <ion-input type="password" placeholder="password" [(ngModel)]="provider.password"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <ion-button expand="full" (click)="login()">Login</ion-button>
    <div class="center">
      <a href="registration">create an account</a>
    </div>
  </div>
</ion-content>